.search-section {
  height: 350px;
  padding: 110px;
}

h1 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 15px;
  color: rgb(255, 166, 0);
  font-weight: 700;
}

.search-input {
  display: flex;
  width: 600px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  cursor: text;
  box-shadow: 0px 0 100px 0px;
}

.search-input input {
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  padding: 10px;
  margin-left: 30px;
  width: 100%;
  font-size: 15px;
}

.search-input p {
  position: absolute;
  font-size: 30px;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  cursor: pointer;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avaliation {
  display: flex;
  color: #fff;
}