#navbar {
    background: #000;
    height: 75px;
    width: 100%;
    padding: 3px 15px 3px;
}

.navbar-left, ul {
    display: flex;
    gap: 45px;
}

ul li {
    list-style: none;
}

.logo img {
  width: 180px;
}